{% extends 'base.html' %}
{% block content %}
<br>
<br>
{% include 'home_button.html' %}
<p class="list-data">Your discharge:</p>
<br>
<p class="list-data">Medications:</p>
<table>
    <th>Name</th>
    <th>Dose In Milligrams</th>
    <th>Daily Dosage</th>
    {% for item in medications %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.dose_in_milligrams}}</td>
        <td>{{item.dosage_daily}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<p class="list-data">Detected illnesses:</p>
<table>
    <th>Name</th>
    {% for item in illnesses %}
    <tr>
        <td>{{item.name}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<p class="list-data">Recommendations:</p>
<table>
    <th>Subject</th>
    <th>Description</th>
    {% for item in recommendations %}
    <tr>
        <td>{{item.subject}}</td>
        <td>{{item.description}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}