{% extends 'base.html' %}
{% block content %}
{% include 'home_button.html' %}
<p class="list-data">Medication List</p>
<table>
    <th>Related to patient ID</th>
    <th>Name</th>
    <th>Dose In Milligrams</th>
    <th>Daily Dosage</th>
    {% for item in medications %}
    <tr>
        <td>{{item.to_prescription.patient_id.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.dose_in_milligrams}}</td>
        <td>{{item.dosage_daily}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}