{% extends 'base.html' %}
{% block content %}
<br>
<br>
{% include 'home_button.html' %}
<p class="list-data">Visit List</p>
<table>
    <th>Patient ID</th>
    <th>Data</th>
    <th>Time</th>
    <th>Location</th>
    <th>Specialization</th>
    <th>Fee</th>
    {% for item in model %}
    <tr>
        <td>{{item.visited_patient.id}}</td>
        <td>{{item.date}}</td>
        <td>{{item.time}}</td>
        <td>{{item.location.city}}</td>
        <td>{{item.required_specialization.name}}</td>
        <td>{{item.fee}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}