{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="function-choice">What do you want to do?</p>
        {% if request.user.is_staff %}
        <div class="function-container">
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/countries/">Country List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/addresses/">Address List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/users/">User List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/user_profiles/">User Profile List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/specializations/">Specialization List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/doctors/">Doctor List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/patients/">Patient List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/visits/">Visit List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/discharges/">Discharge List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/recommendations/">Recommendation List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/prescriptions/">Prescription List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/medications/">Medication List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/patient_states/">Patient States List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/states/">States List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/patient_illnesses/">Patient Illnesses List</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/administrator/illnesses/">Illnesses List</a></p>
        </div>
        {% elif request.user.is_doctor %}
        <div class="function-container">
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/visits/">See Your scheduled visits</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/patients/">See all patients</a>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/recommendations/">See all recommendations</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/create_recommendation/">Register new recommendation</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/prescriptions/">See all prescriptions</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/create_prescription/">Register new prescription</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/patient_states/">See all patient states</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/register_state/">Register new patient state</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/patient_illnesses/">See all patient illnesses</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/doctor/register_illness/">Register new patient illness</a></p>
        </div>
        {% elif request.user.is_patient %}
        <div class="function-container">
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/patient/discharges/">See Your discharge</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/patient/visits/">See Your visits</a></p>
            <p class="function"><a class="function-view" href="http://127.0.0.1:8000/patient/book_visit/">Book a visit</a></p>
        </div>
        {% endif %}
    {% else %}
        <p class="function-choice">You are not logged in to the system. Please use the Log in button to access the site.</p>
    {% endif %}
{% endblock content %}